html {
  height: 100%;
}

h4 {
  color: #fcfbfe;
}

* {
  box-sizing: border-box;
}

.side-bar {
  background-color: #1d1135;
  min-width: 200px;
  height: 150px;
  margin-right: 0px;
}

.linkSmaller {
  padding: 1px;
}

.navbar {
  height: 100%;
}

body {
  background-image: url("https://i.postimg.cc/T1NYDChm/jeremy-perkins-uhjiu8-Fjns-Q-unsplash.jpg");
  min-height: 100%;
}

.headerBar {
  background-color: #1d1135;
  width: 100%;
  padding: 5px;
  height: 150px;
}

.headerBar h1 {
  color: #fcfbfe;
}

.resList {
  border-radius: 8px;
  background-color: #fcfbfe;
  box-shadow: 10px 5px 5px #0c164f;
  margin: 15px;
  width: 90%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.bodyBox {
  padding: 0px;
}

.resList .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resList .insight {
  font-size: 9pt;
}

.resList label {
  margin: 18px;
}

.resList input {
  margin-left: 15px;
}

.offset {
  margin-left: 30px;
}

.resList div {
  margin: 5px;
}

.resList .name {
  font-size: 18pt;
  display: flex;
  flex-direction: row;
}

.resList .deets {
  display: flex;
  flex-direction: row;
}
